.products {
  border: 5px solid yellowgreen;
  padding: 2rem 5rem;
  margin: 2rem 0;
}
.add-products {
  border: 5px solid orchid;
  padding: 2rem 5rem;
}
.get-products {
  margin: 2rem 0;

  border: 5px solid indigo;
  padding: 2rem 5rem;
}

.product-card {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 0 5rem;
  margin: 10px 0;
}
